
body {
    background-image: url(https://i.pinimg.com/564x/fc/0b/ca/fc0bca765c94a813eb8797590f21b2f0.jpg);
    background-size: cover;
}



.topnav {
    position: relative;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
}

.topnav a:hover {
    background-color: orangered;
}

#navbar{
    margin-left: 18cm;
}

#intro h2,h6{
    color: white;
    font-size: 45px;
    max-width: 15cm;
}
#intro h2 {
    margin-left: 15cm;
    border: 5cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#intro {
    margin-top: 0cm;
}

#merge {
    margin-left: 5cm;
}
.form {
    padding: 3cm;
    margin-left:15cm;
    

}
.container {
    text-align: center;
    margin-top: 6cm;
}